<template>
  <div>
    <div class="header">
      <div class="">
        <a href="/">#product-finder</a>
        <img class="circle-photo" src="../assets/photo-in-circle.svg" alt="">
        <img class="path-dotted" src="../assets/path-dotted-orange.svg" alt="">
      </div>
    </div>
    <img class="wave" src="../assets/Vector.svg" alt="">
    <div class="search">
      <div data-app>
          <v-autocomplete 
            class="first"
            :items="companies"
            item-text="name"
            item-value="id"
            label="Značka produktu ..."
            v-model="company_id"
            clearable
            rounded
            solo
            append-icon="fa-chevron-down"
          ></v-autocomplete>
          <v-autocomplete 
            class="second"
            :items="categories"
            item-text="name"
            item-value="id"
            label="Kategória produktu ..."
            v-model="category_id"
            clearable
            rounded
            solo
            append-icon="fa-chevron-down"
          ></v-autocomplete>
        <button class="search-button" @click="getProducts"><img src="../assets/search_icon.svg" alt=""></button>
      </div>
    </div>
    <div class="products">
        <div v-for="product in paginatedProducts" :key="product.id" class="card">
          <img class="card-img-top" src="../assets/product-img.png" alt="Card image cap">
          <div class="card-body">
            <div class="name">{{product.name}}</div>
            <div class="brand">{{product.company.name}}</div>
          </div>
          <div class="card-footer">
            <div class="price">{{product.price}} €</div>
            <div v-if="product.stock > 0" class="stock">skladom</div>
            <div v-if="product.stock  < 1" class="not_stock"> nie je skladom</div>
          </div>
        </div>
      <div class="load_more">
        <button v-if="currentPage * perPage < products.length" @click="loadMore">Načítaj ďalšie ... </button>
      </div>
    </div>
    <img class="bottom_wave" src="../assets/bottom_wave.svg" alt="">
    <div class="footer row m-0 px-0 pt-0">
      <img class="green_path" src="../assets/path-green.svg" alt="">
      <img class="blow" src="../assets/photo-in-blow.svg" alt="">
      <img class="triangle" src="../assets/triangle.svg" alt="">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <h1>Halvah chocolate</h1>
        <p>
          Danish jelly beans marshmallow halvah chocolate bar chocolate bar. Soufflé icing tootsie roll bonbon liquorice jujubes. Gummies donut sweet roll caramels sesame snaps cookie.
        </p>
        <p>Cupcake pudding shortbread cheesecake powder brownie topping sugar plum. Sesame snaps jelly-o biscuit toffee jujubes shortbread. Oat cake cake dragée biscuit.</p>
      </div>
      <img class="blue_path" src="../assets/path-dotted-blue.svg" alt="">
     </div>
  </div>
</template>

<script>
import axios from 'axios'
  export default {
    data() {
      return {
        products:[],
        categories: [],
        companies: [],
        category_id:null,
        company_id: null,
        productsToShow:6,
        currentPage:1,
        perPage:7,
        showReadMore:true
      }
    },
    methods: {
      getProducts() {
        if(this.category_id != null && this.company_id != null){
          var URL = 'http://fake-api.ns.nsdevel.eu/products?company_id='+ this.company_id +'&category_id=' + this.category_id 
          axios.get(URL).then(response =>{
            this.products = response.data.products;
          })
          this.currentPage = 1;
          var company_name = this.companies.find(x => x.id === this.company_id).name
          this.$router.push({name:"search",params:{company_slug: company_name}})

          var category_name = this.categories.find(y =>y.id === this.category_id).name
          var category_name_splitted = category_name.split(" ").join("_")
          this.$router.push({name:"search",params:{category_slug: category_name_splitted}})
           
          
        }
      },
      loadMore(){
        this.currentPage+=1;
      },
    },
    watch: {
      $route(to) {
        if(typeof to.params.category_slug !== 'undefined' && typeof to.params.company_slug !== 'undefined'){
          var comp = this.companies.find(x => x.name === to.params.company_slug).id
          var category_name_u = to.params.category_slug.split("_").join(" ")
          var cat = this.categories.find(y => y.name === category_name_u).id
          this.category_id = cat
          this.company_id = comp
          var URL = 'http://fake-api.ns.nsdevel.eu/products?company_id='+ comp +'&category_id=' + cat
          axios.get(URL).then(response =>{
            this.products = response.data.products;
          })
          this.currentPage = 1;
        }else{
          axios.get('http://fake-api.ns.nsdevel.eu/products').then(response => {this.products = response.data.products})
           this.category_id = null
          this.company_id = null
        }
          
        
      }
    },
    created () {
      axios.get('http://fake-api.ns.nsdevel.eu/categories').then(response => {this.categories = response.data.categories})
      axios.get('http://fake-api.ns.nsdevel.eu/companies').then(response => {this.companies = response.data.companies})
      axios.get('http://fake-api.ns.nsdevel.eu/products').then(response => {this.products = response.data.products})
    },
    computed: {
      totalResults() {
        return Object.keys(this.products).length; 
      },
      pageCount() {
        return Math.ceil(this.totalResult / this.perPage);
      },
      pageOffset() {
        return this.perPage * this.currentPage;
      },
      paginatedProducts(){
        return this.products.slice(0,this.currentPage * this.perPage);
      }
    },
  }
</script>

<style lang="scss" scoped>
.header{
  width:100%;
  margin:0 auto;
  background: #F7F7F7;
  padding:80px 0 60px 0;
  position: relative;
  div{
    width:1300px;
    position: relative;
    margin:0 auto;
    @media (max-width: 1300px){
      width: 100%;
    }

  }
  a{
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #616060;
    margin:0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
  }
  .circle-photo{
    position: absolute;
    left: 131px;
    top: 58px;
    z-index: 1;
    @media (max-width: 1140px){
      top: 145px;
      width: 20%;
    }
    @media (max-width: 1024px){
      top:70px;
      width: 30%;
    }
    @media (max-width: 800px){
      top:20px;
      width: 30%;
      left: 40px;
    }
  }
  .path-dotted{
    position: absolute;
    top: 78px;
    right: 210px;
    @media (max-width: 1140px){
      top: 138px;
      width: 20%;
    }
  }
}
.wave{
  width:100%;
}
.search{
  width:900px;
  margin:0 auto;
  position:relative;
  z-index: 3;
  @media (max-width: 950px){
      width:90%;
      justify-content: center;
  }
  div{
    display:flex;
  }
  .search-button{
    width: 85px;
    height: 50px;
    background: #9BC183;
    border-radius: 20px;
    margin-left:10px;
    img{
      width: 44px;
      display: block;
      margin: 0 auto;
      height: 44px;
    }
  }
}

.products{
  width: 1000px;
  margin:-40px auto 0 auto;
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 1110px){
      width:90%;
      justify-content: center;
  }
  .card{
    width: 224px;
    background: #FFFFFF;
    border-radius: 20px !important;
    box-shadow: 2px 2px 20px rgba(224, 224, 224, 0.6);
    margin: 30px 13px 0px 13px;
      .card-img-top{
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
        width:100%;
      }
    .card-body{
      padding:10px 20px 5px 20px;
        .name{
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 23px;

          color: #000000;
        }
        .brand{
          display:inline-block;
          padding:2px 5px;
          background: #FAE9E1;
          border-radius: 5px;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
          text-transform: uppercase;
          color: #616060;
        }
      }
      .card-footer{
        background-color: transparent;
        border-top:none;
        padding-top: 0;
        .price{
          display: flex;
          justify-content: flex-end;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 30px;
          text-align: right;

          color: #9BC183;
        }
        .stock{
          display: flex;
          justify-content: flex-end;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          text-align: right;
          text-transform: uppercase;
          color: #9BC183;
        }
        .not_stock{
          display: flex;
          justify-content: flex-end;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          text-align: right;
          text-transform: uppercase;
          color: #C18383;
        }
      }
    
  }
  .load_more{
    width: 90%;
    margin:20px auto;
    text-align: center;
    button{
      background: #FBDBCC;
      border-radius: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      color: #616060;
      padding:20px 0;
      width: 249px;
      @media (max-width: 350px){
        width:90%;
        margin:0 auto;
      }
    }
  }
}
.bottom_wave{
  width:100%;
  margin-bottom:-1px;
}
.footer{
  background: #F7F7F7;
  position: relative;
  padding-bottom:200px;
    h1{
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 40px;
      color: #616060;
      @media (max-width: 766px){
          text-align: center;
      }
      
    }
    p{
      width: 467px;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 160%;
      color: #616060;
      @media (max-width: 766px){
          text-align: center;
          margin:0 auto;
      }
      @media (max-width: 500px){
        width:90%;
      }
    }
    .green_path{
      width:auto;
      position: absolute;
      top: -185px;
      right: 343px;
    }
    .blow{
      width:auto;
      position:absolute;
      right: 184px;
      top: -80px;
      @media (max-width: 1400px){
        right:0;
      }
      @media (max-width: 1200px){
        top:unset;
        bottom:0;
        opacity:0.5;
      }
    }
    .triangle{
      width:auto;
      position:absolute;
      right: 208px;
      top: 134px;
      @media (max-width: 1400px){
        right:0;
      }
      @media (max-width: 1200px){
        top:unset;
        bottom:0;
      }
    }
    .blue_path{
      width:auto;
      position:absolute;
      bottom: 80px;
      left: 280px;
      @media (max-width: 460px){
        left:unset;
      }
    }
    
  
}


</style>
<style lang="scss">
.v-autocomplete__content.v-menu__content .v-select-list{
  display:block;
}
.v-icon.v-icon{
  font-size:18px !important;
  color: black !important;
}
.v-input.first{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  
}
.v-input.second{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
</style>