<template>
  <div id="app">
<!--     
        {{this.$route.params.company_slug}}
        {{this.$route.params.category_slug}}-->
      <HelloWorld/> 
      
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
  
  name: 'App',
  components: {
    HelloWorld
  },
  data() {
    return {
      
    }
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}
body{
  margin:0;
}
</style>
